---
import logo from "../img/rfslogoborder.png";
---

<section class="about">
  <p>Mi nombre es Ramiro, soy un desarrollador enfocado principalmente en front end, aunque incorporando conceptos de back end en mi camino a ser full stack.</p>
  <p>Vivo en Buenos Aires, Arg. Practico y disfruto del arte y los deportes, especialmente fútbol</p>
  <p>Estoy en busca de proyectos apasionantes en los cuales aportar mi visión al mismo tiempo que desarrollo mis conocimientos.</p>
</section>

<style>
  .about {
    color: var(--white);
    background: rgb(256, 256, 256, 10%);    
    width: 90%;
    height: 100vh;
    margin: auto;
    text-align: center;        
  }
</style>
