---
import linkedIn from '../img/internet.svg'
import resume from '../img/drive.svg'
import mail from '../img/email.svg'
---

<section class="icons">
    <img src={resume} alt="resume">
    <img src={linkedIn} alt="linkedIn">
    <img src={mail} alt="gmail">    
</section>

<style>
  .icons{
    color: var(--white);        
    display: flex;        
    justify-content: end;
    margin: auto;
    gap: 2rem;
  }

  .icons img {
    width: 50px;    
    border: 1px solid var(--white);
    border-radius: 10px;
  }

  .icons img:hover {
    border-color: var(--accent);
    scale: 110%;
    transition: 1s;
  }
</style>
