---

---

<footer class="footer">           
        <p class="copyright">Ramiro Savoy © Todos los derechos reservados { new Date().getFullYear() }</p>    
</footer>

<style>
    .footer {
    background-color: var(--black);
    height: 30px;
    padding: 10px 0 10px 0;
}

.copyright {
    color: var(--white);
    font-size: 0.8rem;
    text-decoration: none;
    font-weight: 500;        
    text-align: end;    
}

</style>