---
import ramaPic from "../img/bwsnapshot.jpg";
---

<footer class="footer" id="footer">
  <div class="white-box"></div>
  <div class="black-box">
    <div class="wrap">
      <a class="contact" target="_blank" href="https://mail.google.com/mail/?view=cm&source=mailto&to=rawii.k@gmail.com">hello@ramirosavoy.com.ar</a>
      <svg
        width=""
        height="48"
        viewBox="0 0 1976 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1975.06 13.0607C1975.65 12.4749 1975.65 11.5251 1975.06 10.9393L1965.51 1.3934C1964.93 0.807611 1963.98 0.807611 1963.39 1.3934C1962.81 1.97919 1962.81 2.92893 1963.39 3.51472L1971.88 12L1963.39 20.4853C1962.81 21.0711 1962.81 22.0208 1963.39 22.6066C1963.98 23.1924 1964.93 23.1924 1965.51 22.6066L1975.06 13.0607ZM0 13.5H1974V10.5H0V13.5Z"
          fill="#fff"></path>
      </svg>
      <div class="footer-text">
        <div class="socials">
          <a href="/">Instagram</a>
          <a href="/">Twitter</a>
          <a href="/">LinkedIn</a>
          <a href="/">Resume</a>
        </div>
        <p>Ramiro Savoy © {new Date().getFullYear()}</p>
      </div>
    </div>
  </div>
  <div class="card-face">
    <div>Do you have an <span>idea</span>?</div>
    <div>Let's chat</div>
    <img src={ramaPic} alt="Rama Snapshot" />
  </div>
  <a href="#header" class="floater">
  <svg width="" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
    <mask id="path-1-inside-1_137_4" fill="white">
    <path d="M46 23C46 35.7025 35.7025 46 23 46C10.2975 46 0 35.7025 0 23C0 10.2975 10.2975 0 23 0C35.7025 0 46 10.2975 46 23Z"/>
    </mask>
    <path d="M23.7071 11.2929C23.3166 10.9024 22.6834 10.9024 22.2929 11.2929L15.9289 17.6569C15.5384 18.0474 15.5384 18.6805 15.9289 19.0711C16.3195 19.4616 16.9526 19.4616 17.3431 19.0711L23 13.4142L28.6569 19.0711C29.0474 19.4616 29.6805 19.4616 30.0711 19.0711C30.4616 18.6805 30.4616 18.0474 30.0711 17.6569L23.7071 11.2929ZM24 36L24 12L22 12L22 36L24 36ZM44 23C44 34.598 34.598 44 23 44V48C36.8071 48 48 36.8071 48 23H44ZM23 44C11.402 44 2 34.598 2 23H-2C-2 36.8071 9.19288 48 23 48V44ZM2 23C2 11.402 11.402 2 23 2V-2C9.19288 -2 -2 9.19288 -2 23H2ZM23 2C34.598 2 44 11.402 44 23H48C48 9.19288 36.8071 -2 23 -2V2Z" fill="#e7c5f7" mask="url(#path-1-inside-1_137_4)"/>
  </svg>
</a>    
</footer>

<style>
  .wrap {
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
  }
  .card-face img {
    border-radius: 100%;
    height: 120px;
    position: absolute;
    top: -40px;
    left: -50px;
    border: solid 10px;
    border-color: var(--white);
  }

  .card-face {
    position: absolute;
    background-color: var(--white);
    right: 50%;
    bottom: 30%;
    transform: translateX(50%);
    height: 250px;
    width: 500px;
    z-index: 10;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--serif-font);
  }

  .card-face span {
    font-weight: bold;
  }

  .contact {
    font-size: 2rem;
  }

  .white-box {
    height: 60%;
    background-color: var(--white);
    background-image: url(../img/RamaBG.jpg);
    background-position: 50% 30%;
    background-size: cover;
  }

  .black-box {
    height: 40%;
    background-color: black;
    display: flex;
    align-items: end;
  }

  .footer {
    height: 100svh;
    position: relative;    
  }

  .socials {
    width: 40%;
    display: flex;
    gap: 4rem;
  }

  .footer-text {
    display: flex;
    justify-content: space-between;
  }

  .footer-text p,
  a {
    color: white;
    text-decoration: none;
    font-size: 1rem;    
  }

  @media screen and (max-width: 640px) {
    .card-face {
      height: 20%;
      width: 50%;
      min-width: 250px;
      font-size: 1.3rem;
    }
    .card-face img {
      height: 60%;
      top: -50px;
      border: solid 5px;
      border-color: var(--white);
    }
    .footer-text p,
  a {    
    font-size: 0.8rem;
    text-align: center;    
  }
  .footer-text {
    flex-direction: column;     
  }
  .socials {
    width: 100%;
    justify-content: space-around;
    padding-bottom: 15px;
  }
  .contact {
    font-size: 1.3rem;
  }
  }

  .floater {
    position: absolute;
    right: 3%;
    bottom: 12%;
    z-index: 500;
    color: var(--accent);
  }

  .floater:hover {
    transform: scale(115%);
    transition-duration: 1s;
  }

  @media screen and (max-width: 528px){
    .white-box {            
    background-position: 70% 30%;    
  }
  }
  @media screen and (max-width: 400px){
    .socials {    
    justify-content: space-around;
    gap: 0;
  }
  .card-face img {
      height: 55%;
      top: -50px;
      left: 50%;
      transform: translateX(-50%);
      border: solid 2px;
      border-color: var(--white);
    }
  }
</style>
