---
import "animate.css";
---

<header id="header">
  <div class="wrapper">
    <nav>
      <div class="nav-div-1">
        <h1>Ramiro Savoy</h1><h3>Developer</h3>
      </div>
      <ul class="nav-div-2">
        <li class="hide"><a href="#projects">Work</a></li>
        <li class="hide"><a  href="#about">Info</a></li>
        <li class="button"><a target="_blank" href="https://mail.google.com/mail/?view=cm&source=mailto&to=rawii.k@gmail.com">Let's chat</a></li>
      </ul>
    </nav>
    <section class="description">
      <p>
        Developer crafting engaging, customer focused digital experiences.<br> Do
        you have a vision?<br><span>I'm here for you.</span>
      </p>
    </section>
    <section class="info">
      <svg
        width=""
        height="24"
        viewBox="0 0 1976 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1975.06 13.0607C1975.65 12.4749 1975.65 11.5251 1975.06 10.9393L1965.51 1.3934C1964.93 0.807611 1963.98 0.807611 1963.39 1.3934C1962.81 1.97919 1962.81 2.92893 1963.39 3.51472L1971.88 12L1963.39 20.4853C1962.81 21.0711 1962.81 22.0208 1963.39 22.6066C1963.98 23.1924 1964.93 23.1924 1965.51 22.6066L1975.06 13.0607ZM0 13.5H1974V10.5H0V13.5Z"
          fill="#A2A2A2"></path>
      </svg>
      <div class="info-box">
        <div class="info-cards card1">
          <p class="gray">freelance</p>
          <p>Front-end Developer</p>
        </div>
        <div class="info-cards">
          <p class="gray">based</p>
          <p>Buenos Aires, Arg.</p>
        </div>
        <div class="info-cards">
          <p class="gray">get in touch</p>
          <p><a target="_blank" href="https://mail.google.com/mail/?view=cm&source=mailto&to=rawii.k@gmail.com">hello@ramirosavoy.com.ar</a></p>
        </div>
      </div>
    </section>
  </div>
</header>
<style>
  html {
    scroll-behavior: smooth;
}
  .card1 {
    max-width: 30%;
   width: 100%;    
  }
  .info-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
  }

  .info-cards p {
    line-height: 0.3rem;
  }

  .gray {
    color: var(--secondary);
  }

  .description {
    max-width: 600px;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;    
  }

  .description p {
    font-size: 1.7rem;
    line-height: 2.2rem;
    font-family: var(--alt-font);
  }

  .description span {
    font-weight: 700;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95svh;    
  }

  header {
    height: 100vh;    ;
  }

  ul > li {
    padding: 7px;
  }

  .nav-div-1 {
    display: flex;
    justify-content: space-between;
    max-width: 205px;
    width: 100%;
  }

  .nav-div-2 {
    display: flex;
    gap: 20px;
  }

  .nav-div-2 a, .info-cards a {
    text-decoration: none;
    color: black;    
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
  }

  .button {
    border-radius: 5px;
    background-color: var(--accent);
  }

  h1,
  p,
  h3 {
    margin: 0;
  }

  h1 {
    font-size: 1.1rem;
  }

  p {
    font-size: 1.1rem;
    padding: 10px;
  }

  h3 {
    font-size: 1.1rem;
    color: var(--secondary);
  }
  @media screen and (max-width: 640px) {
    .card1 {
   max-width: 100%;
   width: 100%;   
  }
  .info-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;        
  }

  .info-cards p {
    font-size: 1rem;
  }

  .description p {
    font-size: 1.3rem;
    line-height: 1.5rem;
    font-family: var(--alt-font);
  } 
 }
 @media screen and (max-width: 600px){
  .nav-div-1 {
    flex-direction: column;
    width: auto;    
  }

  .hide {
    display: none;
  }
 }
</style>
