---
import PortfolioCards from "./PortfolioCards.astro";
---

<section class="portfolio">
  <h3>Portfolio</h3>
  <div class="portfolioCardBox">          
    <PortfolioCards />
    <PortfolioCards />
    <PortfolioCards />
    <PortfolioCards />
  </div>
</section>

<style>
  .portfolio {
    width: 90%;
    margin: auto;
    margin-bottom: 100px;
  }

  .portfolio h3 {
    color: var(--white);
    font-size: 2rem;
    text-align: center;    
  }

  .portfolioCardBox {         
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;  
    row-gap: 5rem;
  }
</style>
