---
---

<section class="projects" id="projects">
  <div class="wrapper">
    <div class="project-box">
    <h2>Projects</h2>
    <div class="card-box">
      <div class="card">
        <img src="https://placehold.co/400" alt="Img Project" /><a>Veloriant ↗</a>
      </div>
      <div class="card">
        <img src="https://placehold.co/400" alt="Img Project" /><a>Viejiro ↗</a>
      </div>
      <div class="card">
        <img src="https://placehold.co/400" alt="Img Project" /><a>Stooges ↗</a>
      </div>
      <div class="card">
        <img src="https://placehold.co/400" alt="Img Project" /><a>BondiolaAsesina ↗</a>
      </div>
    </div>
    </div>
  </div>  
</section>

<style>
  .boxxx {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .imgbox {    
    max-width: 400px;
    width: 100%;
  }

  .project-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;    
  }

  .project-box h2 {
    font-family: var(--serif-font);
  }

  h2,a {
    color: white;    
  }

  a {
    font-size: 1.3rem;
    padding-top: 5px;
    font-weight: 100;
  }
 .card-box {
  display: flex;
  justify-content: space-between;
  gap: 10px; 
 }

 .card {
  display: flex;
  flex-direction: column;
 }

 .card a {
  padding: 10px 0 10px 0;
 }

 .projects {
  background-color: black;
  min-height: 100svh;  
 }

 /* Media Queries */
 
 @media screen and (max-width: 1199px) {
  .card a {
  font-size: 1rem;
 }
 }

 @media screen and (max-width: 1199px) {
  .card-box {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;      
 } 
 }
</style>
