---
---

<section class="projects">
  <div class="wrapper">
    <div class="project-box">
    <h2>Projects</h2>
    <div class="card-box">
      <div class="card">
        <img src="https://placehold.co/400" alt="Img Project" /><a>Veloriant ↗</a>
      </div>
      <div class="card">
        <img src="https://placehold.co/400" alt="Img Project" /><a>Viejiro ↗</a>
      </div>
      <div class="card">
        <img src="https://placehold.co/400" alt="Img Project" /><a>Stooges ↗</a>
      </div>
      <div class="card">
        <img src="https://placehold.co/400" alt="Img Project" /><a>BondiolaAsesina ↗</a>
      </div>
    </div>
    </div>
  </div>
</section>

<style>

  .project-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .project-box h2 {
    font-family: var(--serif-font);
  }

  h2,a {
    color: white;    
  }

  a {
    font-size: 1.3rem;
    padding-top: 5px;
    font-weight: 100;
  }
 .card-box {
  display: flex;
  justify-content: space-between;  
 }

 .card {
  display: flex;
  flex-direction: column;
 }

 .projects {
  background-color: black;
  height: 100svh;  
 }
</style>
