--- 
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description}>
	</head>
	<body>    
		<slot />                
	</body>
</html>
<style is:global>
	@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
  	@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700;900&display=swap');
	  @import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;500;700&family=Montserrat:wght@300;500;700&family=Yeseva+One&display=swap');

:root {
  --primary: #8c73a7;
  --secondary: #b6b6b6;
  --accent: #e7c5f7;
  --black: #000000;
  --white: #eeeded;  
  --main-font: 'Hind', sans-serif;
  --alt-font: 'Montserrat', sans-serif;
  --serif-font: 'Yeseva One', serif;  
}

*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-size: 2rem;
  font-family: var(--main-font);  
  background: var(--white);    
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: 100%;
  max-width: 95%;  
  height: 100%;
  margin: auto;
}

</style>
